<footer>
    <hr>
    <div class="container text-center">
        <address>
            <p>UCVG 2020 - ¡¡Variedad al mejor precio!!</p>
            <p>
                Alborada , 20590 - Enrique Gomez Bolaño <br/>
                Tel: 933 85 00 00 00 / 666 02 00 00 - Contacto: online.store@gmail.com
                <a
                    class="nav-link"
                    [routerLink]="['/contact']"
                    routerLinkActive="router-link-active"
                    >Contacta con nosotros</a
                >
            </p>
        </address>
        <ul class="social nav justify-content-center">
            <li>
                <a href="https://www.youtube.com/channel/UCjng7ZlzZssiz5tDTWnbQVg" target="_blank">
                    <img src="/assets/img/icons/youtube.png" alt="Canal de Youtube de UCVG">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <img src="/assets/img/icons/twitter.png" alt="Twitter de UCVG">
                </a>
            </li>
            <li>
                <a href="https://facebook.com" target="_blank">
                    <img src="/assets/img/icons/facebook.png" alt="Página de Facebook">
                </a>
            </li>
        </ul>
    </div>
</footer>
